{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "build/logs/humbuglog.txt",
        "json": "build/logs/humbuglog.json"
    }
}
